div.textbox.pure-control-group
    label(for=name) #{label}
    input.textbox__input(id=name, type="text", name=name, value=value, placeholder=label)
    if required
        span.pure-form-message-inline Обязательное поле
